body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e9ecf1;
    color: #323b4b;
}

.spam-message {
    font-size: small;
}

.form-control:focus {
    box-shadow: none;
    border-color: #366ccb;
}

.btn-primary {
    background-color: #366ccb;
}
